<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1HelloSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49782/WebService1Hello.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1HelloSoap"
                contract="ServiceReference222.WebService1HelloSoap" name="WebService1HelloSoap" />
        </client>
    </system.serviceModel>
</configuration>