@using Asp.netCoreIUDS.Repository
@using Asp.netCoreIUDS.Models
@model Asp.netCoreIUDS.Models.Company

@{
    ViewBag.Title = "Update new company";
}

<html>
    <div>
    <form action="/Company/UpdateAllCompanyDetails" method="post" >
         
          Company Name: <input type="text" id="TxtCName" name="CompanyName" value=""/>
        Company Area: <input type="text" id="TxtAName" name="CompanyArea" value=""/>
          Company No Employees: <input type="text" id="TxtNName" name="CompanyNBranches" value=""/>


          
          Company ID To Be Updated: <input type="text" id="TxtCId" name="id" value=""/>

         @*Enter ID of Company :<input type="text" id="TxtID" name="id" value=""/>*@

          <input type="submit" name="btnSubmit" value="NewCompany"/>

        

    </form>
    </div>

 </html>
