<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToDataSet.Properties.Settings.AdoDotNetDatabaseConnectionString"
            connectionString="Data Source=PRSQL;Initial Catalog=AdoDotNetDatabase;Persist Security Info=True;User ID=labuser;Password=Welcome123$"
            providerName="System.Data.SqlClient" />
        <add name="LinqToDataSet.Properties.Settings.AdoDotNetDatabaseConnectionString1"
            connectionString="Data Source=PRSQL;Initial Catalog=AdoDotNetDatabase;Persist Security Info=True;User ID=labuser"
            providerName="System.Data.SqlClient" />
        <add name="LinqToDataSet.Properties.Settings.AdoDotNetDatabaseConnectionString2"
            connectionString="Data Source=PRSQL;Initial Catalog=AdoDotNetDatabase;User ID=labuser;Password=Welcome123$"
            providerName="System.Data.SqlClient" />
        <add name="LinqToDataSet.Properties.Settings.SchoolConnectionString"
            connectionString="Data Source=PRSQL;Initial Catalog=School;User ID=labuser;Password=Welcome123$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>